# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.sqlite3
*.db

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Docker
*.env
*.pid
docker-compose.override.yml

# Node / Frontend
node_modules/
dist/
.next/
out/
